<ion-view hide-nav-bar="true">
<ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Search</h1>
    
</ion-header-bar>
<ion-content>
    <div class="searchPageContainer">
        <div class="searchInputsContainer">
            <div class="citySearchInputContainer">
                <div class="citySearchInput" ng-click="sbpc.openCityPage()">
                    <span class="citySearchIcon">
                        
                    </span>
                    <span class="citySearchText">
                        City
                    </span>
                    <span class="citySearchDropIcon">
                        
                    </span>
                </div>
            </div>
            <div class="entitySearchInputContainer">
                <div class="entitySearchInput" ng-click="sbpc.openEntityPage()">
                    <span class="entitySearchIcon">
                        
                    </span>
                    <span class="entitySearchText">
                        
                    </span>
                    
                </div>
            </div>
        </div>
    </div>    
</ion-content>
</ion-view>